<li class="nav-item dropdown btn-group">
	<a id="btnSubmitTablature"
	    href="#"
	    class="nav-link dropdown-toggle"
	    data-toggle="dropdown"
	    aria-haspopup="true"
	    aria-expanded="false"
	>
	    Add Tablature
	</a>
	
	<div class="dropdown-menu dropdown-menu-right dropdown-tablature-form">
	   
        <form class="px-4 py-3" [formGroup]="tablatureForm" (ngSubmit)="handleSubmit()" >
	            
            <div class="form-check mb-3">
                <input
                    type="checkbox"
                    id="tablature_form_enabled"
                    class="form-check-input"
                    
                    formControlName="published"
                    (change)="onCheckboxChange($event)"
                />
                <label class="form-check-label" for="tablature_form_enabled">To Be Public</label>
            </div>
            
            <div class="form-group">
                <label for="tablature_form_artist" class="required">Artist</label>
                <input
                    type="text"
                    id="tablature_form_artist"
                    required="required"
                    class="form-control"
                    
                    formControlName="artist"
                />
            </div>
            
            <div class="form-group">
                <label for="tablature_form_song" class="required">Song</label>
                <input
                    type="text"
                    id="tablature_form_song"
                    required="required"
                    class="form-control"
                    
                    formControlName="song"
                />
            </div>
            
            <div class="form-group">
                <label for="tablature_form_tablature" class="required">Tablature</label>
                <div class="custom-file">
                    <input
                        type="file"
                        accept=".gp,.gp3,.gp4,.gp5,audio/x-guitar-pro"
                        id="tablature_form_tablature"
                        class="custom-file-input"
                        formControlName="tablature"
                        (change)="onSelectTablatureFile($event)"
                        
                    />
                    <label
                        id="tablature_form_tablature_label" 
                        class="custom-file-label"
                        for="tablature_form_tablature"
                    >Choose a file</label>
                </div>
                <div *ngIf="tablatureForm.get('tablature')?.touched" class="alert alert-danger">
		            <div *ngIf="tablatureForm.get('tablature')?.errors?.['required']" class="invalid-feedback">Tablature File is required</div>
		        </div>
		        
            </div>
            
            <div class="form-group mt-5">
                <button
                    type="submit"
                    id="tablature_form_btnSave"
                    name="submit"
                    class="btn-primary btn"
                >Save</button>
            </div>
        </form>
	            
    </div>
</li>
