<app-loader *ngIf="(isFetchingTablature$ | async)"></app-loader>

<div class="tablatures-container" style="margin-top: 110px">
    <div class="card card-registration-form">
        <div class="card-header">
            <h3 class="mb-1">Tablature Update</h3>
        </div>
        <div class="card-body" *ngIf="!(isFetchingTablature$ | async)">
            <form class="px-4 py-3" id="formTtablatureUpdate" [formGroup]="tablatureForm" (ngSubmit)="handleSubmit()" >
                
                <div class="form-check mb-3">
                    <input
                        type="checkbox"
                        id="tablature_form_enabled"
                        name="published"
                        class="form-check-input"
                        
                        [checked]="tablature?.enabled"
                        formControlName="published"
                        (change)="onCheckboxChange($event)"
                    />
                    <label class="form-check-label" for="tablature_form_enabled">To Be Public</label>
                </div>
            
                <div class="form-group">
                    <label for="tablature_form_artist" class="required">Artist</label>
                    <input
                        type="text"
                        id="tablature_form_artist"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': tablatureForm.get('artist')?.touched && tablatureForm.get('artist')?.errors }"
                        
                        [value]="tablature?.artist"
                        formControlName="artist"
                    />
                    
                    <ng-container *ngIf="tablatureForm.get('artist')?.touched">
	                    <div *ngIf="tablatureForm.get('artist')?.errors?.['required']" class="invalid-feedback">Artist is required</div>
	                </ng-container>
                </div>
                
                <div class="form-group">
                    <label for="tablature_form_song" class="required">Song</label>
                    <input
                        type="text"
                        id="tablature_form_song"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': tablatureForm.get('song')?.touched && tablatureForm.get('song')?.errors }"
                        
                        [value]="tablature?.song"
                        formControlName="song"
                    />
                    
                    <ng-container *ngIf="tablatureForm.get('song')?.touched">
	                    <div *ngIf="tablatureForm.get('song')?.errors?.['required']" class="invalid-feedback">Song is required</div>
	                </ng-container>
                </div>
                
                <div class="form-group">
                    <label for="tablature_form_tablature" class="required">Tablature</label>
                    <div class="custom-file" [ngClass]="{ 'is-invalid': tablatureForm.get('tablature')?.touched && tablatureForm.get('tablature')?.errors }">
                        <input
                            type="file"
                            accept=".gp,.gp3,.gp4,.gp5,audio/x-guitar-pro"
                            id="tablature_form_tablature"
                            class="custom-file-input"
                            [ngClass]="{ 'is-invalid': tablatureForm.get('tablature')?.touched && tablatureForm.get('tablature')?.errors }"
                            
                            formControlName="tablature"
                            (change)="onSelectTablatureFile($event)"
                        />
                        <label
                            id="tablature_form_tablature_label" 
                            class="custom-file-label"
                            for="tablature_form_tablature"
                        >{{ tablatureFileOriginalName }}</label>
                    </div>
                    
                    <ng-container *ngIf="tablatureForm.get('tablature')?.touched">
	                    <div *ngIf="tablatureForm.get('tablature')?.errors?.['required']" class="invalid-feedback">Tablature File is required</div>
	                </ng-container>
                </div>
                
                <div class="row">&nbsp;</div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>